@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,700&display=swap');

:root {
    --color1: #012030;
    --color2: #13678A;
    --color3: #45C4B0;
    --color4: #9AEBA3;
    --color5: #DAFDBA;
    --color_white: #FFF;
    --color_black: #000;

    --font_defaut: 'Roboto Condensed', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: var(--font_defaut);
}

body {
    background-color: var(--color_white);
}

a {
    color: inherit;
}


/*HEADER*/
.header {
    background-color: var(--color1);
    width: 100%;
    height: 8vh;
}

#main__header {
    text-align: center;
    color: var(--color_white);
    font-size: 7vh;
    font-weight: bold;
}


/*MAIN*/
.main {
    margin: 10px auto auto auto;
    background-color: var(--color5);
    width: 70%;
}

.table {
    width: 60%;
    margin: 20px auto auto auto;
}

.main_coluna {
    background-color: var(--color2);
    text-align: center;
    color: var(--color_white);
    font-weight: bold;
}

td {
    text-align: center;
}

.opc {
    background-color: var(--color3);
    color: var(--color_white);
    font-weight: bold;
}

.sair {
    background-color: var(--color2);
    margin: 50px auto 50px auto;
    text-align: center;
    font-size: 20px;
    width: 60px;
    height: 24px;
    color: var(--color_white);
    border-radius: 3px;
    font-weight: bold;
}

/*FOOTER*/
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}